*.env
readme.md
public/images
public/images/*
public/storage
.idea/*
.phpintel/*
public/theme/legande/js/script.alt.js
vendor
node_modules
composer.lock
package-lock.json
public/hot
index.php
resources/views/admin/sales/index_0519.blade.bak.php
